.hero--container div.row div.col.col--8 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.row.package {
  margin-bottom: 2rem;
}

.package--information p {
  font-family: 'Poppins';
  letter-spacing: -0.91px;
  padding: 1rem 2rem 1rem 1rem;
  margin-top: 0.4rem;
}

.package--description {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--ifm-color-dark);
  line-height: 2.3rem;
}

p.under-development {
  font-family: 'Mukta', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 0.4rem;
}

p.under-development span {
  font-weight: 600;
  color: #ec2ca8;
}

html[data-theme='dark'] .under-development {
  color: var(--ifm-color-dark);
}
html[data-theme='dark'] .package--information p {
  color: var(--ifm-font-color-base-inverse);
}
